Django>=1.4.1
South>=0.7.6
distribute>=0.6.28
django-ajax-forms>=0.3.1.beta
django-reversion>=1.6.3
django-templatetag-sugar>=0.1
django-twitter-tag>=0.4.0
gunicorn>=0.14.6
httplib2>=0.7.6
mock>=1.0b1
nose>=1.2.1
oauth2>=1.5.211
python-twitter>=0.8.2
simplejson>=2.6.1
twitter-text-python>=1.0
wsgiref>=0.1.2
