{% extends "ohmagehome/base.html" %}

{% block content %}
    <div class="subheader">What is ohmage?</div>

    <p><b>ohmage</b> is an open-source participatory sensing technology platform. It supports expressive campaign authoring; mobile phone-based data capture through both inquiry-based surveys and automated data capture as well as temporally/spatially triggered reminders, data visualization and real-time feedback; privacy respecting data management; and extensible data exploration. All captured data are automatically timestamped, geocoded and uploaded for analysis and visualization.</p>

    <p>This platform is used in pilot health studies (www.andwellness.org) and will be used as a pedagogical tool in LAUSD schools for learning data representation, collection and analysis (www.mobilizingcs.org).</p>

    <p class="emphasis">For more information, visit <a href="http://www.ohmage.org">www.ohmage.org</a></p>
{% endblock %}