{% extends "ohmagehome/base.html" %}

{% block style %}
p { text-indent: 10px; }
p.note { text-indent: 0; font-size: 12px; color: #555; }
#maincol p.home_text { line-height: 180%; }
{% endblock %}

{% block content %}
    <div class="subheader">what is ohmage?</div>

    <img id="home_preview" src="/static/ohmagehome/images/ohmage-preview.png" width="175" />

    <p class="home_text">
    <b>ohmage</b> is an open-source participatory sensing technology platform. It supports expressive project authoring; mobile phone-based data capture through both inquiry-based surveys and automated data capture as well as temporally and/or spatially triggered reminders, data visualization and real-time feedback; privacy respecting data management; and extensible data exploration. All captured data are automatically timestamped, geocoded and uploaded for analysis and visualization.
    </p>

    <!--
    <p>This platform is used in pilot health studies (<a href="http://www.andwellness.org">www.andwellness.org</a>) and will be used as a pedagogical tool in LAUSD schools for learning data representation, collection and analysis (<a href="http://www.mobilizingcs.org">www.mobilizingcs.org</a>).</p>
    -->

    <p  class="home_text" id="software_table_desc">
    The <b>ohmage</b> app is currently available for Android (2.2+) and iOS devices. While the original ohmage app was developed for the Android platform, the ohmage team has worked closely with <a target="_blank" href="http://mwf.ucla.edu/">UCLA's Mobile Web Framework</a> group to create a lightweight version of the app that is compatible with a broad variety of devices, including iOS devices. All versions are listed for download below.
    </p>

    <table class="horiz" cellspacing="0" cellpadding="0">
        <tr class="header_row">
            <th>App Name</th>
            <th>Platform</th>
            <th>Download</th>
        </tr>

        <tr>
            <td>
                <img  class="applist_iconstub" src="{{ STATIC_URL }}ohmagehome/images/app_icons/ohmage.png" />
                <b>ohmage</b> client
            </td>
            <td>Android 2.2+</td>
            <td>
            <a class="store_link play" target="_blank" href="https://play.google.com/store/apps/details?id=org.ohmage">
                Play Store
            </a>
            </td>
        </tr>

        <tr>
            <td>
                <img class="applist_iconstub" src="{{ STATIC_URL }}ohmagehome/images/app_icons/ohmage_mwf.png" />
                <b>ohmage MWF</b> Android client <b style="color: #59997e;">*</b>
            </td>
            <td>Android 2.2+</td>
            <td>
                <a class="store_link play" target="_blank" href="https://play.google.com/store/apps/details?id=org.ohmage.mwoc">
                    Play Store
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <img class="applist_iconstub" src="{{ STATIC_URL }}ohmagehome/images/app_icons/ohmage_mwf_iOS.png" />
                <b>ohmage MWF</b> iOS client <b style="color: #59997e;">*</b>
            </td>
            <td>iPad/iPhone</td>
            <td>
                <a class="store_link itunes" href="https://itunes.apple.com/us/app/ohmage-mwf/id578211681?mt=8&uo=4" target="itunes_store">
                    App Store
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <img  class="applist_iconstub" src="{{ STATIC_URL }}ohmagehome/images/app_icons/mobility.png" />
                <b>Mobility</b> client
            </td>
            <td>Android 2.2+</td>
            <td>
                <a class="store_link play" target="_blank" href="https://play.google.com/store/apps/details?id=org.ohmage.mobility">
                    Play Store
                </a>
            </td>
        </tr>
    </table>

    <p class="note">
    <b style="color: #59997e;">*</b> the MWF versions currently only support self-report, whereas the ohmage Android client is full-featured, supporting collection of continuous background data streams as well as self-report
    </p>

    <p class="tooltip">
        <img src="{{ STATIC_URL }}ohmagehome/icons/bullhorn.png" class="icon" />
        <b>TIP:</b> If you'd like to learn how to use ohmage for your project, take a look at the <a href="{% url home:usage %}">Usage</a> page.
    </p>
{% endblock %}