{% extends "ohmagehome/base_onecol.html" %}

{% block style %}
    .paper {
        font-size: 14px;
        margin-bottom: 1em;
    }
    .paper p, .paper h3 { margin: 0px; margin-bottom: 8px; }
    .paper .authors {  margin-bottom: 6px; font-style: italic; }
    .paper .desc {  margin-bottom: 6px; }

    #start_add_paper {
        position: relative;
    }

    #add_paper_dialog {
        color: black; cursor: default;
        background: white; padding: 20px;
        border: solid 1px #ccc; width: 600px;
        margin-top: 1em;

        box-shadow: 3px 3px 15px rgba(0,0,0,0.25);

        position: fixed; z-index: 500;
    }

    #add_paper_dialog .dialog_header {
        padding: 10px 20px;
        margin: -20px; margin-bottom: 20px; background: #eee; position: relative;
        overflow: hidden;
    }

    #add_paper_dialog .dialog_header .close_dialog {
        position: absolute; width: 50px; top: 0px; bottom: 0px; right: 0px;
        text-align: center; padding-top: 12px; color: black;
        background: #ccc; font-weight: bold;
    }
    #add_paper_dialog .dialog_header .close_dialog:hover { background: #ddd; color: #c55; }
    #add_paper_dialog .dialog_header h3 { margin: 0; float: left; }

    #add_paper_dialog label { display: block; font-weight: normal; }
    #add_paper_dialog table th { text-align: right; vertical-align: top; padding: 10px; }
    #add_paper_dialog .widebox { width: 100%; }
    #add_paper_dialog textarea { resize: none; }
    #add_paper_dialog .note { font-size: 12px; color: #555; }
{% endblock %}

{% block script %}
    $(document).ready(function() {
        $("#add_paper_dialog").hide();

        $("#start_add_paper").click(function() {
            var $dialog = $("#add_paper_dialog");

            $dialog
                .css({
                    marginLeft: -$dialog.outerWidth()/2,
                    marginTop: -$dialog.outerHeight()/2,
                    top: "50%",
                    left: "50%"
                })
                .fadeIn(300);
        });

        $("#add_paper_dialog .close_dialog").click(function() {
            $("#add_paper_dialog").fadeOut(300);
        });
    });
{% endblock %}

{% block content %}
    <div class="subheader">what papers have involved ohmage?</div>

    <p>Below is a list of papers which reference or regard ohmage.</p>

    <ul>
        {% for paper in papers %}
            <li class="paper">
                <h3 style="display: inline;">{{ paper.name }}</h3>
                <p class="authors">{{ paper.collaborators }}</p>
                {% if paper.published_in %}<p class="published_in">{{ paper.published_in }}</p>{% endif %}
                {% if paper.desc %}<p class="desc">{{ paper.desc }}</p>{% endif %}
                {% if paper.url %}<p class="link"><a href="{{ paper.url }}">{{ paper.url }}</a></p>{% endif %}
            </li>
        {% endfor %}
    </ul>

    <a id="start_add_paper" href="javascript:void(0)">submit a new paper...</a>

    <div id="add_paper_dialog">
        <div class="dialog_header">
            <h3>Add a New Paper</h3>
            <a class="close_dialog" href="javascript:void(0)">X</a>
        </div>

        <form action="{% url home:papers %}" method="post">
            {% csrf_token %}
            <table>
                {{ add_paper_form.as_table }}
                <tr>
                    <th></th>
                    <td><input type="submit" value="Add Paper" /></td>
                </tr>

                <tr>
                    <th></th>
                    <td>
                        <p class="note">
                            <strong>(note:</strong> submissions must be approved by an administrator before they appear above)
                        </p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}