<!DOCTYPE html>

{% load twitter_tag cache %}

<html>
    <head>
        <title>ohmage</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}ohmagehome/css/home.css" type="text/css" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon-white.ico" />

        <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js" type="text/javascript" language="Javascript"></script>
        <script src="{{ STATIC_URL }}js/jquery.scrollTo-1.4.2-min.js" type="text/javascript" language="Javascript"></script>

        <!-- used to transmit events throughout the codebase -->
        <script src="{{ STATIC_URL }}js/pubsub.js" type="text/javascript" language="Javascript"></script>

        <!-- attach your page-specific code here -->
        <script type="text/javascript" language="Javascript">
            {% block script %}{% endblock %}
        </script>

        <!-- executed after the custom scripts to let them get the events it raises -->
        <script src="{{ STATIC_URL }}demo/js/demo.js" type="text/javascript" language="Javascript"></script>

        <style>
            {% block style %}{% endblock %}
        </style>
    </head>

    <body>
        <div id="trunk">
            <div id="header">
                <img id="header_img" src="{{ STATIC_URL }}ohmagehome/images/login-logo.png" />
            </div>

            <div id="navbar">
                <ul id="navlist">
                    <li><a href="#home">Home</a></li><li><a href="#projects">Projects</a></li><li><a href="#contributors">Contributors</a></li>
                </ul>
            </div>

            <div id="maincol" class="content_pane">
                {% block content %}{% endblock %}
            </div>

            <div id="infocol" class="content_pane">
{#                {% cache 3600 openmhealth_tweets %}#}
                    {% get_tweets for "open_mhealth" as tweets limit 10 %}
                    <div id="twitter_header"><a href="https://twitter.com/open_mhealth">@open_mhealth</a></div>
                    <ul id="twitter_list">
                        {% for tweet in tweets %}
                            <li>{{ tweet.html|safe }}</li>
                        {% endfor %}
                    </ul>
{#                {% endcache %}#}
            </div>

            <div id="footer" class="content_pane">
            copyright &copy; 2012 MobilizeLabs - all rights reserved
            </div>
        </div>
    </body>
</html>